text {
  /* https://observablehq.com/@julesblm/svg-dominant-baseline-alignment-baseline-attributes */
  dominant-baseline: middle;
}

text {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.App {
  text-align: center;
}

html {
  height: 100%;
}

body {
  margin: 0;
  /* background-color: #202124; */
}

.node-frame {
  fill: rgb(173, 173, 187);
}

.node-name {
}
